<launch>
  <group ns="hydrophones">
    <node pkg="mil_passive_sonar" type="passive_sonar_driver.py" name="passive_sonar" output="screen">
      <rosparam>
        receiver_locations_mm:
           [[22.286, 0, 0],
            [-22.286, 0, 0],
            [0, 22.286, 0]]
        upsampling_factor : 20
      </rosparam>
    </node>
  </group>
</launch>
